/** @define Button */

:root {
    --Button-background-color: var(--color-grey-20);
    --Button-background-color--hover: var(--color-grey-30);
    --Button-background-color--active: var(--color-grey-40);
    --Button-color: var(--color-black);
    --Button-font: inherit;
  }