blockquote {
  border-left: var(--size-4) solid var(--color-grey-20);
  margin: 0;
  padding-left: var(--size-16);

  p::before {
    content: '\201C';
  }

  p::after {
    content: '\201D';
  }

  cite {
    font-style: italic;
  }

  + figcaption {
    margin-top: var(--size-8);
  }
}
