button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file']::file-selector-button {
  appearance: none;
  background-color: var(--color-black);
  border: 0;
  border-radius: var(--size-4);
  color: var(--color-white);
  display: inline-block;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: var(--size-24);
  margin: 0;
  padding: calc(var(--size-4) * 3) var(--spacing-24);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  word-wrap: break-word;

  &:hover {
    background-color: var(--color-grey-90);
  }

  &:active {
    background-color: var(--color-grey-70);
  }

  &:disabled,
  &[disabled],
  &[aria-disabled='true'],
  &[aria-disabled='true']:hover,
  &[aria-disabled='true']:active,
  &[aria-disabled='true']:focus,
  &[aria-disabled='true']:focus-within,
  &[aria-disabled='true']:focus-visible,
  &[aria-disabled='true']:focus:not(:focus-visible),
  &[aria-disabled='true']:focus-within:not(:focus-visible),
  &[aria-disabled='true']:focus-visible:not(:focus),
  &.is-disabled {
    background-color: var(--color-grey-10);
    color: var(--color-grey-60);
    cursor: not-allowed;
  }
}
