fieldset {
  border: {
    color: var(--color-grey-20);
    radius: var(--size-8);
    style: solid;
    width: var(--size-1);
  }

  padding: var(--size-16) var(--size-24) var(--size-24);

  legend {
    border: {
      color: var(--color-grey-20);
      radius: var(--size-8);
      style: solid;
      width: var(--size-1);
    }

    font-weight: var(--font-weight-medium);
    padding: var(--size-16) var(--size-24);

    + * {
      margin-top: initial;
    }
  }
}
