fieldset {
  border: {
    color: var(--color-grey-20);
    radius: var(--spacing-8);
    style: solid;
    width: var(--spacing-1);
  }

  padding: var(--spacing-16) var(--spacing-24) var(--spacing-24);

  legend {
    border: {
      color: var(--color-grey-20);
      radius: var(--spacing-8);
      style: solid;
      width: var(--spacing-1);
    }

    font-weight: var(--font-weight-medium);
    padding: var(--spacing-16) var(--spacing-24);

    + * {
      margin-top: initial;
    }
  }
}
