label {
  cursor: pointer;
  display: inherit;
  font-size: var(--font-size-14);
  line-height: var(--font-line-height-24);

  + input:not([type='checkbox'], [type='radio'], [type='submit'], [type='reset'], [type='button']),
  + textarea,
  + select {
    margin-top: var(--spacing-4);
  }

  + label {
    margin-top: var(--spacing-4);
  }

  &::marker {
    display: none;
  }
}
