// For browsers that don't support :focus-visible
:focus {
  outline: 2px solid var(--color-blue-60);

  // Remove :focus styling for browsers that do support :focus-visible
  &:not(:focus-visible) {
    outline: none;
  }
}

// Add focus styling back in browsers that do support :focus-visible

/* postcss-ignore-line */
:focus-visible {
  outline: 2px solid var(--color-blue-60);
}

@media (prefers-reduced-motion: no-preference) {
  :focus,
  :focus-visible {
    outline-offset: var(--size-4);
    transition: outline-offset 0.25s ease;
  }
}
